@font-face {
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    position: fixed;
    width: 100vw;
    overflow: hidden;
    z-index: 99;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #454444;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
}
nav li a:hover{
    background-color:#303030;
}

p,a, h1 {
    color: #FFFFFF;
}
p,a {
    font-family: Arial, Helvetica, sans-serif;
    opacity: 80%;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 40px;
    left: 70px;
    font-size: 10vw;
    text-shadow: 0 0 5px #202020;
}

div {
    margin: 0px;
    display: grid;
    padding: 0px;
}

body {
    background-color: #202020;
    margin: 0px;
    padding: 0px;
}

.main-image {
    max-width: 100%;
    height: auto;
}