
nav {
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 99;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #454444;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: inline-block;
    padding: 15px 15px;
    text-decoration: none;
}
nav li a:hover{
    background-color:#303030;
}

p,h1,a {
    color: #FFFFFF;
    opacity: 80%;
}
h1{
    position: absolute;
    top: 60px;
    left: 70px;
}

body {
    background-color: #202020;
    margin: 0px;
    padding: 0px;
}

